@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.dark_theme {
    background: linear-gradient(to bottom right, #121212 30%, #1E3A8A 100%);
    color: #E5E7EB;

}

.dark_eclips {
    background-image: linear-gradient(to bottom right, #00C2FF 0%, #ff00b7 100%);

}

.light_theme {
    background: #E5E7EB;
    color: #1F2937;

}

.light_eclips {
    background-image: linear-gradient(to bottom right, #F22FB0 0%, #F58A25 100%, #7061A3 100%);

}


.eclips1,
.eclips2 {
    border-radius: 50%;
    position: absolute;
    position: fixed;
    filter: blur(110px) opacity(0.7);
    z-index: -1;
}

.eclips1 {
    height: 500.3px;
    width: 500.3px;
    top: -200px;
    left: -200px;
}

.eclips2 {
    height: 300.3px;
    width: 300.3px;
    bottom: 0px;
    right: 0px;
}


nav {
    height: 1.9rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav .bar svg {
    width: 1rem;
    fill: white;
}

nav .bar {
    transition: 0.5s;
}

nav .bar:active {
    transform: scale(0.5);
}

nav .logo_tag {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.25rem;

}

nav .menu_bar {
    display: flex;
    gap: 4.5rem;
    justify-content: center;
    align-items: center;
}

.bar_window {
    width: 4rem;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    transform: translateX(-7rem);
    transition: transform 1s;
}

.translate {
    transform: translateX(0rem);
}

nav .bar_window p {
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    transition: transform 0.5s;
    cursor: pointer;
}

nav .bar_window p:active {
    transform: scale(0.8);
}


nav .menu_bar :nth-child(2) {
    padding-bottom: 0.25rem;
}

nav .menu_bar :nth-child(1) {
    border-bottom: solid 2px;
    padding-bottom: 0.25rem;
}

nav .menu_bar p {
    font-size: 0.9rem;
    font-weight: 400;
}

nav .theme svg {
    width: 1rem;
    padding-bottom: 0.25rem
}

main {
    margin-top: 2.2rem;
    display: flex;
    justify-content: space-between;
}

main .content h1 {
    font-size: 1.5rem;
}

.content h1 :nth-child(2) {
    background-image: linear-gradient(to right, #F59E0B 0%, #EF4444 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Hide the original text */
}

.content h1 :nth-child(3) {
    background-image: linear-gradient(to right, #8B5CF6 0%, #EC4899 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

main .content .para {
    font-size: 1rem;
    max-width: 30rem;
}

.content .btn {
    width: 7rem;
    height: 1.5rem;
    border-radius: 5px;
    display: flex;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0.25rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dark_btn {
    background-color: #E5E7EB;
    color: #1F2937;

}

.light_btn {
    background-color: #1F2937;
    color: #E5E7EB;
}

.light_btn svg {
    fill: #E5E7EB;

}

.dark_btn svg {
    fill: #1F2937;

}


.content .btn :first-child {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

main .img svg {
    width: 20rem;
}